<html>
	<head>
		<title> My DESIGNS </title>
		style
			include ../static/style.css
			include ../static/utils.css
			
	</head>
  
<body>

	<div class="navbar" > 
		<div class="by">
			<div class='flex' id='img'>  
				<img src= "../static/img.jpg" id="image"> 
			</div>
			<ul>
				<li ><a href="#">ISMAIL SIMAK</a> </li>
			</ul>
		</div>
	
	</div>
 
	<h1> My DESIGNS  </h1>
	<div class="container_1"> 


		
	
	
	</div>
 
 
	<div class="container_2"> 
		
	</div>
	


	<footer class="futr">contact us:494949449494</footer>

	<script src="index.js"></script>
	<script src="script.js"></script>
	script
		include ../static/script.js
</body>
</html>
