extends base.pug
	
block style	
		style
			include ../static/style.css
			include ../static/utils.css
			include ../static/responsive.css
			
block content
	div.container.flex_align_justify_column
		video( id="background-video" autoplay loop muted plays-inline )
			source(src="../static/bganim.mp4" type="video/mp4")
		div.main_heading   ISMAIL SIMAK
		div.img_container
			img( src="./static/img.jpg" class="img" )
		div.content_intro
			h1 Intro
			span.bold  Email: 
			| ismail77099@gmail.com
			div
				span.bold  Contact:
				| 6300477959
			
		div.content_myself
			div.have_margin
				| Once a hobby Now an ambission.
			div.have_margin
				| For over two Years i've been working on my
				| skills on front-end development and have a good 
				| taste in logo design and photoshop.
			
				| Have a good knowledge of Graphic design, colours,
				| and AI image creation engines and used my skills to 
				| improve previous works of mine.
			div.have_margin
				| Creating dynamic web-pages and have been improving  
				| my skills to further becoming eligible to persue
				| Carrier in this field.
				
			div.section
				h1.heading_margin PROJECTS
				div.boxes
					a( href="/logos" class="box" id="logo_box") LOGOS
					a( href="/webSites" class="box" id="web_box") WEBSITES
			div.section
				h1.heading_margin RESUME
				div.have_margin
					h3.have_margin SKILLS
					| HTML; CSS; Javascript; Node.js; 
					| Express; Mongo-Db; Git; Frontend;
					| Backend; Logo design; Photoshop;
					|

				div.have_margin
					h3.have_margin Education
					div B.com(computers)
					div Vasavi Degree College -2020 to 2022
					div Address: Newtown Mahabubnagar
				
				div.have_margin
					h3.have_margin Strengths
					div Positive approach
					div Co-operative attitude
					div Hard Working
					div Logical thinking