<html>
	<head>
		<title> My Portfolio </title>
		style
			include ../static/style.css
			include ../static/utils.css
			include ../static/responsive.css
			
	</head>
  
<body>
 
	<div class="sideNav box">
	
		<ul class= "flex content_1">
			<li class= "side_button flex" id="1"> About</li>
			<li class= "side_button flex" id="2"> Skills</li>
			<li class= "side_button flex" id="3"> Education</li>
			<li class= "side_button flex" id="4"> Works</li>
		</ul>		
	
	</div>
	
	<div class="container_1 box"> 

	
	<div class="info" id="info">
	<div class="objects obj_1">
		
		<h1> Hello i am sam </h1>
		<ul id="info1" class="info_txt ">
			<li> This is that and that is this  </li>
			<li> This is that and that is this  </li>
			<li> This is that and that is this  </li>
			<li> This is that and that is this  </li>
			<li> This is that and that is this  </li>
			<li> This is that and that is this  </li>
		</ul>
		
		<ul id="info2" class="info_txt">
			<li> This is that </li>
			<li> This is that  </li>
			<li> This is that  </li>
			<li> This is that  </li>
		</ul>
		
		<ul id="info3" class="info_txt">
			<li> This is that and that is this  </li>
			<li> This is that and  </li>
		</ul>	
		
		<ul id="info4" class="info_txt">
			<li> This is that and that is this  </li>
			<li> This is that and that is this  </li>
			<li> This is that and that is this  </li>
		</ul>	
		
		<div id="button_box"> 
			<div class=" button flex " id="btn_1"><a href="/webSites"> Projects </a></div>
			<div class=" button flex" id="btn_2"><a href="/logos">Logos</a></div>
		</div>
		
		</div>
		
		<div class='block objects' id='img'>  
			<img src= "../static/img.jpg" id="image"> 
		</div>
		
		
		
	
	
	</div>
 

	script
		include ../static/script.js
</body>
</html>
