<html>
	<head>
		<title> My LOGOS  </title>
		style
			include ../static/style.css
			include ../static/utils.css
			include ../static/responsive.css
			
	</head>
  
<body>


	<div class="sideNav box">
	
		<ul class= "flex content_1">
			<li class= "side_button flex" id="1"> Home</li>
			<li class= "side_button flex" id="2"> Projects </li>
			<li class= "side_button flex" id="3"> Contact</li>
		<!--	<li class= "side_button flex" id="4"> Works</li> -->
		</ul>		
	
	</div>
	
	<div class="container_12 box"> 

	
	<div class="info" id="info_2">
	<div class="objects obj_12">
		
			<h1 id="h"> My LOGOS </h1>
	<div class="container_logos" id="container_logos"></div>
	<div class="container_logos_2" id="container_logos_2"></div>
 

		</div>

			
	</div>
 

	script
		include ../static/script.js
</body>
</html>