<html>
	<head>
		<title> My Websites  </title>
		style
			include ../static/style.css
			include ../static/utils.css
			include ../static/responsive.css
			
	</head>
  
<body>


	<div class="sideNav box">
	
		<ul class= "flex content_1">
			<li class= "side_button flex" id="1"><a href="/"> Home </a></li>
			<li class= "side_button flex" id="2"><a href="/logos"> Logos </a> </li>
			<li class= "side_button flex" id="3"> <a href="/"> Contact </a></li>
		<!--	<li class= "side_button flex" id="4"> Works</li> -->
		</ul>		
	
	</div>
	
	<div class="container_13 box"> 

		<h1> MY WEBSITES </h1>	
	
	<div class="info" id="info_3">
	
			<span> STATIC WEBSITES </span>
			
			<div class="web_url"> 
				| Smiley foods.com:
				<a href="https://smileyfoods-service-io.onrender.com/">
				|	https://smileyfoods-service-io.onrender.com/
				</a> 
			</div>
			
			<div class="web_url"> 
				| Free-melody.com:
				<a href="https://music-1-royaltyfree-77wl.onrender.com/">
				|	https://music-1-royaltyfree-77wl.onrender.com/
				</a> 
			</div>
			
			<div class="web_url"> 
				| Video-Web.com:
				<a href="https://video-web-com.onrender.com/">
				|	https://video-web-com.onrender.com/
				</a> 
			</div>
			
			
			<span> Fullstack Websites </span>
			
			<div class="web_url"> 
				| Royal Gym.com:
				<a href="https://royal-gym.onrender.com">
				|	https://royal-gym.onrender.com
				</a> 
			</div>
			
			<div class="web_url"> 
				| BuyKaro-24*7.com:
				<a href="https://buykaro-24-7.onrender.com">
				|	https://buykaro-24-7.onrender.com
				</a> 
			</div>
			


	</div>
			
	</div>
 

	script
		include ../static/webScript.js
</body>
</html>