	body{
background-color: hwb;
	}

#background-video {
width: 100vw;
height: 100%;
object-fit: cover;
position: fixed;
left: 0;
right: 0;
top: 0;
bottom: 0;
z-index: -1;
opacity: 30%;
}

/* Navbar contents */
#navbar{
  background-color: #2e3f4f;
width: 100%;
height: 55px;
justify-content: end;
position:fixed;
z-index: +1;
}

.nav_ul{
width: fit-content;
margin: auto 46px;
}

.nav_ul li{
list-style: none;
margin: auto 8px;
}

.nav_ul li a{
text-decoration: none;
color: white;
font-size: larger;
font-weight: bold;
}

.nav_ul li a:hover{
text-decoration: underline;
}

.main_heading {
  font-size: 85px;
text-align: center;
margin: 45px auto;
letter-spacing: .1em;
word-break: break-word;
font-weight: 20;
box-sizing: border-box;
margin-top: 140px;
}

.img_container{
height: auto;
width: 35%;
display:none;
}

.img{
	height: 100%;
width: 100%;
border-radius: 46vh;
}

/* contents */
.content_intro{
	margin: 20px auto;
font-size: 1.2rem;
width: 80%;
text-align: center;
}

.content_myself{
	margin: 20px auto;
font-size: 2rem;
width: 60%;
text-align: center;
}

.have_margin{
	margin: 20px auto;
}

.section{
	margin:50px auto;
	margin-top: 100px;
margin-bottom: 20px;
}

/* class having margin for heading used 
inside sections  */
.heading_margin{
	margin: 55px auto;
}

/* Container div for boxes */
.boxes{
	display: flex;
align-items: center;
justify-content: center;
}

/* spans id for logo and
 web boxes */
.box{
	margin: 7px;
	padding:2px;
height: 103px;
width: 240px;
display: flex;
align-items: center;
justify-content: center;
word-break: break-word;
font-weight: bold;
font-size: 23px;
color: white;
text-decoration: none;
}

#logo_box{
	background-color: red;
}

#web_box{
	  background-color: blue;
}

/* logo images */
.logo_img {
  height: 100%;
  width: 100%;
}

.logo_container {
  width: 64%;
  margin-top: 97px;
}

.my_logo{
display: inline-block;
margin: 12px;
height: auto;
width: 27%;
}

/* url page related css */

#static_urls{
	background-color: none;
}
#fullstack_urls{
	flex-direction: row;
	align-items: center;
justify-content: center;
}

.heaing_size_45px {
  margin-top: 80px;
}

.web_box {
  width: 33%;
  height: auto;
  background-color: none;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.web_show_logo {
  width: 6rem;
  height: auto;
  position: relative;
  top: 55px;
}

.web_img{
	width:98%;
	height:auto;
}
.web_Name{
	width: 86%;
height: auto;
margin: 5px;
padding: 2px;
font-size: 23px;
}